@use "../abstract/variables" as vars;

$text-1-color: #222222;


.form-control-custom {
    color: $text-1-color;
    height: 45px;
    border: 0;
    border-radius: 5px 0 0 5px;
    background-color: #F0F5F8;
    outline: none;
    padding-left: 20px;
    font: {
        family: vars.$font-montserrat;
        size: 14px;
        weight: vars.$font-medium
    }
}