$text-dark-custom: #3a3a47!important;
$text-grey-custom: #5c5c5c!important;
$text-light-grey-custom: #818198!important;
$text-dark-blue-custom: #383B61!important;
$text-blue-custom: #3498db!important;
$text-green-custom: #21bf73!important;

$bg-primary-custom: #f0f5f9!important;

$font-montserrat: 'Montserrat', sans-serif;
$font-medium: 500;

$card-1__color: #fff2e5;
$card-2__color: #f8f9fa;
$card-3__color: #f0f5f9;

$text-color: #ffffff;

$btn-blue-custom: $text-blue-custom;
$btn-success-custom: $text-green-custom;

