.results__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &-image{
        height: 80px;
        width: auto;
        object-fit: contain;
        margin-bottom: 15px;
    }

    h3 {
        margin-top: auto;
    }
}

